@use '../variables' as *;

.advantages {
    width: 1920px;
    padding: 100px 0 50px 0;
    margin: 0 auto 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include small-desktop {
        max-width: 1200px;
    }

    @include tablet {
        max-width: 768px;
        padding: 0 0 50px 0;
    }

    @include mobile {
        width: 320px;
        margin: 0 auto;
        padding: 0 0 15px 0;
    }
}

.advantages__image {
    margin: 0;
    padding: 0;
    display: block;
    background-color: rgba(40, 40, 41, 1);

    &:first-of-type {
        width: 622px;
        height: 724px;

        @include small-desktop {
            width: 586px;
            height: 682px;
         }

         @include tablet {
            width: 768px;
            height: 894px;
         }

         @include mobile {
            display: none;
        }
    }

    &:last-of-type {
        width: 589px;
        height: 724px;

        @include small-desktop {
           display: none;
        }

        @include tablet {
            display: block;
            width: 768px;
            height: 944px;
         }

         @include mobile {
            width: 320px;
            height: 393px;
        }
    }

    @include small-desktop {
        max-width: 1200px;
    }

    @include mobile {
        width: 320px;
    }
}

.advantages__wrapper { 
   width: 614px;
   padding: 0 0 0 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;

   @include small-desktop {
    width: 550px;
    }

    @include tablet {
        margin: 0 auto;
    }

    @include mobile {
        width: 320px;
        margin: 0 auto;
    }
}

.advantages__button {
    width: 550px;
    padding: 32px;
    margin: 0;

    @include small-desktop {
        width: 500px;
     }

     @include tablet {
        margin-bottom: 30px;
    }

    @include mobile {
        margin: 15px auto 10px;
        width: 250px;
    }
}