@use '../variables' as *;

.footer {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    background-color: rgba(34, 34, 34, 1);
}

.footer__list {
    width: 1920px;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-top: 1px solid rgba(213, 201, 190, 1);
}

.footer__copyright {
    width: 1597px;
    padding: 19px 0 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    a {
        display: block;
        margin: 0;
        padding: 0;
        color: rgba(213, 201, 190, 1);
        text-decoration: none;
        &:hover {
            color: rgba(213, 201, 190, 0.5);
        }
        
        &:focus {
            color: rgba(213, 201, 190, 0.5);
        }
        
        &:active {
            color: rgba(255, 255, 255, 1);
        }
    }
}
