@use '../variables' as *;

.footer-social {
    width: 1577px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 183px 19px 160px;

    @include small-desktop {
        width: 937px;
        padding: 40px 143px 19px 120px
    }

    @include tablet {
        max-width: 728px;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
      }
}

.footer-social__item {
    @include tablet {
        &:first-of-type {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin: 0 auto;
        }

        &:last-of-type {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            margin: 0 auto;
        }

        &:nth-of-type(2n) {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            margin: 0 auto;
            padding-top: 10px;
        }
    }
}

.footer-social__button {
    display: block;
    width: max-content;
    padding: 32px 52px;
    margin: 0;
    font-family: "Arial-Italic", sans-serif;
    font-size: 20px;
    line-height: 150%;
}