@use '../variables' as *;

.footer-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;

    @include mobile {
        gap: 20px;
      }
}

.footer-nav__link {
    @include mobile {
        font-size: 12px;
      }
}
