@use '../variables' as *;

.hero {
    width: 1920px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-content: start;
    background-color: rgba(34, 34, 34, 1);

    @include small-desktop {
        max-width: 1200px;
    }

    @include tablet {
        max-width: 768px;
    }
}

.hero__wrapper {
    padding: 0 0 0 162px;
    margin: 0 auto 0 0;
    display: grid;
    grid-template-columns: 995px 763px;
    grid-template-rows: auto;
    // flex-direction: column;
    // flex-wrap: wrap;
    // justify-content: start;

    @include small-desktop {
        padding: 0 0 0 100px;
        margin: 0;
        grid-template-columns: 600px 500px;
    }

    @include tablet {
        padding: 0 0 25px 0;
        grid-template-columns: auto auto;
    }
}

.hero__image {
    width: 763px;
    height: auto;
    margin: 0 0 0 0;
    padding: 0;
    display: block;
    background-color: rgba(40, 40, 41, 1);
    grid-column: 2 / 3;
    grid-row: 1 / 4;

    @include small-desktop {
        width: 500px;
        height: auto;
        grid-row: 1 / 2;
    }

    @include tablet {
        width: 768px;
        height: auto;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
}

.hero__description {
    max-width: 700px;
    margin: 0;
    padding: 137px 0 50px 0;
    display: block;
    font-family: "Prata", sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 120%;

    @include small-desktop {
        max-width: 600px;
    }

    @include tablet {
        width: 768px;
        padding: 110px 0 50px 50px;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}

.hero__text {
    width: max-content;
    display: block;
    font-size: 50px;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
    padding: 0 0 64px 0;

    @include small-desktop {
        grid-column: 1 /3;
        margin: 0 auto;
    }

    @include tablet {
        padding: 0 0 64px 50px;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
}
