@use '../variables' as *;

/* Шапка */
.mine-header {
    width: 1920px;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    background-color: rgba(34, 34, 34, 1);
    z-index: 1000;

    @include small-desktop {
        max-width: 1200px;
    }
}

.mine-header.header_fixed {
    position: sticky;
    top: 0;
    width: 1920px;
    z-index: 1000;

    @include small-desktop {
        max-width: 1200px;
    }
}

.mine-nav {
    width: 1180px;
    max-width: 1200px;
    padding: 14px 0 0 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.mine-nav__logo {
    margin: 0 0 0 0;
    margin-left: 162px;

    @include small-desktop {
        margin-left: 100px;
    }
}

.mine-nav__list {
    min-width: min-content;
    margin: 0 0 0 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

.nav-list__link {
    padding: 24px 14px;
}